<% if logged_in? %>
<div class="center jumbotron">
  <h1>Welcome to Personal Diary</h1>

  <h2>
    This is the home page for the
    application.
  </h2>
  <h3>
  To View Your Diary Entries Please go to View Entries
  </h3>
</div>
<% else %>
<div class="center jumbotron">
  <h1>Welcome to Personal Diary</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Personal Diary</a>
    application.
  </h2>

  <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
</div>
<%end%>