<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1> How was your day?</h1>
    <p>We are waiting to here from you, <br>
    what are the gains and what are the loses, just scribble it here<br>
    Replay to this mail with your today's experiance</p>
  </body>
</html>